---
import Layout from "@layouts/Default.astro";
import SearchInput from "../components/SearchInput.astro";

let pageTitle = "Search";
let pageDescription = "Search all Articles";
let seoTitle = "Search | STEM Buddies";
let seoDescription = "Search through articles and blog posts";
---

<Layout title={seoTitle} pageTitle={pageTitle} description={seoDescription}>
  <main class="bg-pink p-6">
    <article class="max-w-6xl mx-auto">
      <SearchInput />
    </article>
  </main>
</Layout>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"
  integrity="sha512-5CYOlHXGh6QpOFA/TeTylKLWfB3ftPsde7AnmhuitiTX4K5SqCLBeKro6sPS8ilsz1Q4NRx3v8Ko2IBiszzdww=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"
  integrity="sha512-4xUl/d6D6THrAnXAwGajXkoWaeMNwEKK4iNfq5DotEbLPAfk6FSxSP3ydNxqDgCw1c/0Z1Jg6L8h2j+++9BZmg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>
