---
const currentYear = new Date().getFullYear();
---

<footer class="border-t-4 border-black mt-12 py-8">
  <div class="max-w-6xl mx-auto px-3 text-center">
    <p>&copy; {currentYear} STEM Buddies. All rights reserved.</p>
  </div>
</footer>

